{% extends 'flatpages/default.html' %}

{% block title %}
<h2>Предприятие успешно сохранено</h2>
{% endblock title %}

{% block content %}
<div class="container mt-5">
    <h1>Предприятие успешно сохранено</h1>
    <br>
    <p>Название предприятия: {{ enterprise.name }}</p>
    <p>Количество сотрудников: {{ enterprise.employees }}</p>
    <br>
    <h2>Ссылка для отправки анкеты</h2>
    <div class="input-group mb-3">
        <input type="text" id="survey-url" class="form-control" value="{{ survey_url }}" readonly>
        <button class="btn btn-primary" type="button" onclick="copyToClipboard()">Скопировать ссылку</button>
    </div>
    <br>
    <a href="{% url 'enterprise_detail' enterprise.id %}" class="btn btn-primary">Перейти к карточке предприятия</a><br><br>
    <a href="{% url 'user_profile' user_id=enterprise.user.id %}" class="btn btn-secondary">Вернуться в профиль пользователя</a>
</div>

<script>
    function copyToClipboard() {
        var copyText = document.getElementById("survey-url");
        copyText.select();
        copyText.setSelectionRange(0, 99999); /* For mobile devices */
        document.execCommand("copy");
        alert("Ссылка скопирована: " + copyText.value);
    }
</script>
{% endblock %}