{% extends 'flatpages/default.html' %}

{% load custom_filters %}
 
{% block title %}
<h2>Список зарегистрированных пользователей:</h2>
{% endblock title %}
 
{% block content %}
<div class="container mt-5">
    <h1>Список зарегистрированных пользователей:</h1>
    <br>
    <ul>
        {% for user in users %}
           <li><a href="{% url 'user_profile' user.id %}">{{ user.username|display_username }}</a></li><br>
        {% endfor %}
    </ul>
</div>
    <br>
    <a href="{% url 'index' %}" class="btn btn-primary">Вернуться на главную</a><br><br>
    <a href="{% url 'user_profile' user_id=user.id %}" class="btn btn-outline-secondary">Перейти в профиль пользователя</a>
{% endblock %}
